[submodule "curl"]
	path = curl
	url = https://github.com/bagder/curl.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "c-ares"]
	path = c-ares
	url = https://github.com/c-ares/c-ares.git
